# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.DotSettings.user
.consulo/

# Unity generated (keep .meta for UPM)
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
